* {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
section {
  width: 100%;
  max-width: calc(100% - 365px);
}
@media only screen and (max-width: 1129px) {
  section {
    max-width: calc(100% - 230px);
    margin: 0 auto;
  }
}
@media only screen and (max-width: 780px) {
  section {
    max-width: calc(100% - 100px);
    margin: 0 auto;
  }
}
@media only screen and (max-width: 600px) {
  section {
    max-width: calc(100%);
    margin: 0 auto;
    max-width: calc(100% - 40px);
  }
}
a,
u {
  text-decoration: none !important;
}
.user {
  min-height: 20px;
  margin-top: 20px;
}
.avatar {
  float: left;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #e5e5e5;
  text-align: center;
}
.avatar .avatar__content {
  line-height: 35px;
  font-size: 18px !important;
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
.avatar .avatar__content img {
  border-radius: 100%;
  width: 100%;
}

.content,
.behavior,
.count_reply {
  padding-left: 46px;
}
.behavior {
  margin-top: 10px;
}
.behavior > a {
  cursor: pointer;
}
.content .content__username {
  color: #04416d;
  font-weight: bold;
  cursor: pointer;
}

.like,
.behavior__reply,
.behavior__share,
.behavior__time_com,
.behavior__report_comment {
  margin-right: 20px;
  color: #757575;
  font-size: 13px;
}

.like:hover,
.behavior__reply:hover,
.behavior__share:hover,
.behavior__time_com:hover,
.behavior__report_comment:hover {
  color: #087cce;
}

.like .like__total_like {
  font-size: 14px;
  margin-right: 5px;
  color: #757575 !important;
}

.behavior .behavior__report_comment {
  float: right;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.1s, opacity 0.1s linear;
}

.behavior:hover .behavior__report_comment {
  visibility: visible;
  opacity: 1;
}

.count_reply {
  padding-top: 15px;
}
.count_reply .count_reply__text {
  color: #076db6;
  font-size: 13px;
  font-weight: bold;
  background: url("https://s1.vnecdn.net/vnexpress/restruct/c/v563/v2/wcomment/pc/vne/images/graphics/Reply.svg")
    no-repeat left center;
  padding-left: 20px;
  cursor: pointer;
}

.reply {
  margin-left: 46px;
  padding-left: 8px;
  border-left: 2px solid #e5e5e5;
}
.comment-more-block {
  margin-bottom: 30px;
  height: 48px;
  width: 100%;
}
.comment-more-block__btn {
  background: #f7f7f7;
  line-height: 48px;
  padding: 0 20px;
  font: 400 15px/48px arial;
  color: #076db6;
  width: 100%;
  float: left;
  text-align: center;
  display: block;
  position: relative;
  cursor: pointer;
}
.comment-more-block__btn:hover {
  background: #087cce;
  color: #fff;
}
.route-page {
  margin-top: 20px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.route-page span {
  margin-right: 20px;
}
.route-page .route-page__nth-page {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 36px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  position: relative;
  color: #4f4f4f;
  font-weight: bold;
  font-size: 18px;
}
.route-page .route-page__prev {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 36px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  position: relative;
  margin-right: 15px;
  cursor: pointer;
}
.route-page .route-page__prev:before {
  content: "";
  width: 9px;
  height: 9px;
  position: absolute;
  top: 14px;
  transform: rotate(135deg);
  left: 16px;
  border: solid #4f4f4f;
  border-width: 0 2px 2px 0;
}
.route-page .route-page__next {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 36px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  position: relative;
  margin-left: 15px;
  cursor: pointer;
}
.route-page .route-page__next:before {
  content: "";
  width: 9px;
  height: 9px;
  position: absolute;
  top: 14px;
  transform: rotate(315deg);
  left: 12px;
  border: solid #4f4f4f;
  border-width: 0 2px 2px 0;
}
.btn-unclick {
  pointer-events: none !important;
  background: #f7f7f7 !important;
  border: 1px solid #f7f7f7 !important;
}
.btn-unclick:before {
  border: solid #bdbdbd !important;
  border-width: 0 2px 2px 0 !important;
}
.route-page .route-page__prev:hover,
.route-page .route-page__next:hover,
.route-page .route-page__nth-page:hover {
  border: solid black 1px;
}
