* {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.comments-list {
  width: 100%;
  max-width: calc(100% - 365px);
}
@media only screen and (max-width: 1129px) {
  .comments-list {
    max-width: calc(100% - 230px);
    margin: 0 auto;
  }
}
@media only screen and (max-width: 780px) {
  .comments-list {
    max-width: calc(100% - 100px);
    margin: 0 auto;
  }
}
@media only screen and (max-width: 600px) {
  .comments-list {
    max-width: calc(100%);
    margin: 0 auto;
    max-width: calc(100% - 40px);
  }
}
a,
u {
  text-decoration: none !important;
}
.user {
  min-height: 20px;
  margin-top: 20px;
}
.avatar {
  float: left;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #e5e5e5;
  text-align: center;
}
.avatar .avatar__content {
  line-height: 35px;
  font-size: 18px !important;
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
.avatar .avatar__content img {
  border-radius: 100%;
  width: 100%;
}
.content .content__comment,
.ant-list-item-action,
.count_reply {
  margin-left: 46px !important;
}

.content .content__username {
  color: #04416d;
  font-weight: bold;
  cursor: pointer;
}

.like,
.reply-text,
.share,
.time_com,
.report_comment {
  color: #757575;
  font-size: 13px;
}

.like:hover,
.reply-text:hover,
.share:hover,
.time_com:hover,
.report_comment:hover {
  color: #087cce;
}

.like .like__total_like {
  font-size: 14px;
  margin-right: 5px;
  color: #757575 !important;
}

.ant-list-item-meta {
  margin-bottom: 0 !important;
}

.ant-list-item-action li:last-child {
  float: right;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.1s, opacity 0.1s linear;
}

.ant-list-item-action:hover li:last-child {
  visibility: visible;
  opacity: 1;
}

.count_reply {
  padding-top: 15px;
}
.count_reply .count_reply__text {
  color: #076db6;
  font-size: 13px;
  font-weight: bold;
  background: url("https://s1.vnecdn.net/vnexpress/restruct/c/v563/v2/wcomment/pc/vne/images/graphics/Reply.svg")
    no-repeat left center;
  padding-left: 20px;
  cursor: pointer;
}

.reply {
  margin-left: 46px;
  padding-left: 8px;
  border-left: 2px solid #e5e5e5;
}
.comment-more-block {
  padding-bottom: 20px;
  box-sizing: content-box;
  height: 48px;
  width: 100%;
}
.comment-more-block__btn {
  background: #f7f7f7;
  line-height: 48px;
  padding: 0 20px;
  font: 400 15px/48px arial;
  color: #076db6;
  width: 100%;
  float: left;
  text-align: center;
  display: block;
  position: relative;
  cursor: pointer;
}
.comment-more-block__btn:hover {
  background: #087cce;
  color: #fff;
}
.ant-list-pagination {
  padding-bottom: 24px;
}
.ant-pagination-options {
  display: none !important;
}
